.tree-item {
    font-size: 14pt;
    display: flex;
    padding: 5pt;
    margin-bottom: 10pt;
    border-radius: 10pt;
    align-items: center;
}

.tree-item span button svg line {
    stroke: rgb(22, 22, 22);
}

.tree-item div:first-child {
    min-width: 20pt;
}

.tree-item:hover {
    background-color: #f0f0f0;
}

.tree-item button {
    width: 20pt;
    height: 20pt;
    border-radius: 50%;
    padding: 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree-item-title {
    padding-left: 5pt;
    margin: 0 5pt;
    width: 100%;
    border: 0;
    background-color: transparent;
}